html,body{
    background-color:#0e2030;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    padding:0;
    font-family: monospace, "comic sans"
}
.footer {
    position: absolute;
    bottom: 0px;
    float: inline-end;
    padding-bottom:1% ;
    width: 100%;
    color: rgb(211, 209, 209);
}
.footer #in-but{
    padding-right:  10px;
    padding-left: 10px;
}



